.formContainer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    width: 360px;
    height: auto;
    box-shadow: 5px 5px 20px lightgrey;
}

.googleSignIn{
    border: 2px solid lightgrey;
    background-color: white;
    width: 280px;
    height: 34px;
    border-radius: 50px;
    font-size: large;
    cursor: pointer;
}

.InputFeild{
    width: 300px;
    margin: 20px;
    padding: 5px;
    font-size: large;
}

.Submit{
    width: 310px;
    padding: 6px;
    margin: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
    border: 4px solid #03b4ab ;
    background-color: #03b4ab;
}

@media only screen and (max-width: 600px) {
    .formContainer{
        text-align: center;
        margin-left: 50px;
        padding: 20px;
        border: none;
        box-shadow: 5px 5px 20px lightgrey;
        width: 300px;
        height: 350px;
    }
    
    .googleSignIn{
        border: 2px solid grey;
        width: 240px;
        height: 34px;
        border-radius: 50px;
        font-size: large;
    }
    
    .InputFeild{
        width: 260px;
        margin: 10px;
        padding: 5px;
        font-size: large;
    }
    
    .Submit{
        width: 276px;
        padding: 6px;
        margin: 10px;
        font-size: large;
        border: 4px solid crimson ;
        color: white;
        background-color: crimson;
    }

}