
.NavItem{
    margin-top: 25px;
}

.NavItem a{
    text-decoration: none;
    color: #190130;
    font-size: large;
    margin-left: 20px;
}
.Login{
    border: 2px solid #bebebe;
    border-radius: 50px;
    padding: 3px 20px;
    
}

.Login:hover{
    border: 2px solid crimson;
    background-color: crimson;
    border-radius: 50px;
    padding: 3px 20px;
    color: white;
    
}

.ContentName{
    width: 300px;
    margin-right: 300px;
    color: #21053b;
}

.Header{
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
    
}



@media only screen and (max-width: 600px) {
    .ContentName{
        color: #21053b;
        margin-left: 150px;
        
    }
    .Header{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        
    }
    .NavItem{

        margin-top: 20px;
    }
    
    .NavItem a{
        text-decoration: none;
        color: #190130;
        font-size: large;
        margin-left: 20px;
    }
    .Login{
        border: 2px solid #bebebe;
        border-radius: 50px;
        padding: 3px 20px;
        
    }
    
    .Login:hover{
        border: 2px solid #14dca0;
        background-color: #14dc8f;
        border-radius: 50px;
        padding: 3px 20px;
        color: white; 
    }
}