
.NavItem{
    margin-top: 25px;
}

.NavItem a{
    text-decoration: none;
    color: #450085;
    font-size: large;
    margin-left: 20px;
}
.Login{
    border: 2px solid #bebebe;
    border-radius: 50px;
    padding: 3px 20px;
    
}

.Login:hover{
    border: 2px solid crimson;
    background-color: crimson;
    border-radius: 50px;
    padding: 3px 20px;
    color: white;
    
}

.ContentName{
    
    color: #450085;
    margin-right: 500px;
}

.Header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position:sticky;
    top: 0px;
    background-color: #ffffffea;
    box-shadow: 0px 5px 20px #f0f0f0;
    box-shadow: 0px 5px 20 red;
    
}



@media only screen and (max-width: 600px) {
    .ContentName{
        color: #450085;
        margin-right: 0px;
        text-align: center;
        
    }
    .Header{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        
    }
    .NavItem{

        margin-top: 20px;
    }
    
    .NavItem a{
        text-decoration: none;
        color: #450085;
        font-size: large;
        margin-left: 20px;
    }
    .Login{
        border: 2px solid #bebebe;
        border-radius: 50px;
        padding: 3px 20px;
        
    }
    
    .Login:hover{
        border: 2px solid #14dca0;
        background-color: #14dc8f;
        border-radius: 50px;
        padding: 3px 20px;
        color: white; 
    }
}